{% extends "base.html" %}

{% block content %}
<div class="container mt-4 justify-content-center">
  <h1 class="mb-3">Tentang Aplikasi Web</h1>
  <p>Kanker payudara menduduki posisi teratas sebagai penyakit mematikan yang dihadapi oleh wanita di seluruh dunia. Metode pemeriksaan tradisional sering kali memakan waktu yang lama dan kurang sesuai untuk diterapkan di negara-negara berkembang. Namun, deteksi dini kanker melalui klasifikasi citra dengan memanfaatkan model deep learning telah menunjukkan potensi yang sangat menjanjikan dalam mendukung para ahli patologi. Penelitian ini bertujuan untuk mengembangkan aplikasi web fullstack yang dikenal sebagai Cancer Auto Detection (CAD) menggunakan framework Flask.</p>
  
  <p>Aplikasi ini memungkinkan para ahli patologi untuk mengunggah citra medis dan menerima hasil klasifikasi secara otomatis. Dalam proses pengembangan aplikasi, metode prototyping diterapkan untuk memastikan bahwa aplikasi ini berfungsi sesuai dengan kebutuhan pengguna. Hasil pengujian black-box menunjukkan bahwa semua fungsi berjalan sesuai harapan. Penerapan Flask terbukti efektif dalam menciptakan aplikasi yang responsif. Dengan adanya aplikasi CAD ini, diharapkan proses skrining dan diagnosis kanker payudara pada stadium awal dapat dipercepat, sehingga meningkatkan efektivitas penanganan dan prognosis bagi pasien.</p>
  
  <p>Untuk mengatasi tantangan ini, penggunaan teknologi klasifikasian citra berupa Convolutional Neural Network (CNN) dengan arsitektur InceptionV3 digunakan. Teknologi ini memungkinkan identifikasi daging yang cepat dan akurat, sehingga memberikan rasa aman dan jaminan bagi konsumen dalam memilih produk yang sesuai dengan kebutuhan dan keyakinan mereka.</p>
</div>
{% endblock %}
